/* Write your CSS here */
.team-Card-container {
  width: 40%;
  list-style-type: none;
  height: 20vh;
}

.link {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 7px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link {
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

.team-url {
  height: 60px;
  width: 50px;
  margin-right: 20px;
}
.team-name {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 600;
  align-items: center;
}
