/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 170vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.teams-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .teams-list-container {
    width: 90%;
    max-width: 1110px;
  }
}
.ipl-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-url {
  height: 80px;
  margin-right: 20px;
}
.ipl-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .ipl-heading {
    font-size: 30px;
  }
}
.teams-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
